<%- include('../partials/header'); -%>


<div class="container form-title">
    <h1>Delete Patient Notes Record</h1>
</div>

<% result.forEach((patient, index) => { %>
<div class="container card bg-light" style="width: 40rem;">
    <form action="/patient/NotesDelete" method="POST">
        <div class="form-group">
          <b> <label>Patient Health Card Number</label></b>
        </div>
        <div class="form-group">
            <label><%=patient.patient_healthcard%></label><br/>
        </div>
        <div class="form-group">
        <b>  <label>Notes</label></b><br/>
            <label><%=patient.patient_note%></label>
        </div>
        <div class="form-group">
        <b>  <label>Date Entered</label></b><br/>
            <label><%=patient.date_created%></label>
        </div>
        <button type="submit" class="btn btn-primary">Are You Sure You Want to Delete?</button>
    </form>
</div>
<% }) %>

<%- include('../partials/footer'); -%>