<%- include('../partials/header'); -%>        
<% if (result.length > 0) {%>
 <div id="sideNav">
       
    <table class="main-table table table-bordered">
        <%
        console.log(JSON.stringify(result)); 
        %>
       
            <tbody>
                <tr>
                   <td width="10%"><img src="/public/profile-female.PNG"/></td>
                   <td width="90%"><%= getPatient_fname + " " + getPatient_lname%></td>
                 </tr>
                 <tr>
                   <td width="10%"><img src="/public/healthcard.PNG"/></td>
                   <td width="90%"><%= getPatient_hcard%></td>
                 </tr>
                 <tr>
                   <td width="10%"><img src="/public/address.png"/></td>
                   <td width="90%"><%= getPatient_street%></td>
                 </tr>
                 <tr>
                   <td width="10%"></td>
                   <td width="90%"><%=getPatient_city%></td>
                 </tr>
                 <tr>
                   <td width="10%"></td>
                   <td width="90%"><%=getPatient_province%></td>
                 </tr>
                 <tr>
                   <td width="10%"><img src="/public/phone.png"/></td>
                   <td width="90%"><%= getPatient_contact%></td>
                 </tr>
             </tbody>

      </table>
              
              <ul class="sideNav">
                <li class="sidenav"><a href="/patient/<%= getPatient_hcard%>/profile">Patient Profile</a></li>
                <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/billing">Billing Information</a></li>
                <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/immunization">Immunization Status</a></li>
                <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/prescription">Prescriptions</a></li>
                <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/labresult">Laboratory Results</a></li>
               <li class="sidenav"><a href="/patient/<%= getPatient_hcard%>/radiology">Radiology</a></li>
                    <li class="selected">Allergies</li>
                  </ul>
                  
</div>

<div id="notes">
        <h1>Patient Allergy</h1>
        <label>List of all Patient Allergy Medication</label><br/>
        <a href="/patient/<%= getPatient_hcard%>/AllergyAdd">Click Here to Add additional Allergy Medication</a>
        <table class="main-table table table-bordered">
                <thead>
                  <tr align="center" bgcolor="#add8e6">
                    <th>Allergy</th>
                    <th>Notes</th>
                    <th>Result</th>     
                    <th></th>     
                  </tr>
                </thead>
      
                <tbody>
                        <% result.forEach((patient, index) => { %>
                            <tr>
                               <td><%=patient.medications%></td>
                               <td><%=patient.notes%></td>
                               <td><%=patient.severity_level%></td>
                               <td>
                                    <a href="/patient/<%= getPatient_hcard%>/<%=patient.medications%>/allergyUpdate" class="btn btn-sm btn-success">Edit</a>
                                <a href="/patient/<%= getPatient_hcard%>/<%=patient.medications%>/allergyDelete" class="btn btn-sm btn-danger">Delete</a>
                               </td>
                             </tr>
                             <% }) %>
                </tbody>
              </table>
</div>


<% } else { %>
    <div id="sideNav">
       
        <table class="main-table table table-bordered">
            <%
            console.log(JSON.stringify(result)); 
            %>
           
                <tbody>
                    <tr>
                       <td width="10%"><img src="/public/profile-female.PNG"/></td>
                       <td width="90%"><%= getPatient_fname + " " + getPatient_lname%></td>
                     </tr>
                     <tr>
                       <td width="10%"><img src="/public/healthcard.PNG"/></td>
                       <td width="90%"><%= getPatient_hcard%></td>
                     </tr>
                     <tr>
                       <td width="10%"><img src="/public/address.png"/></td>
                       <td width="90%"><%= getPatient_street%></td>
                     </tr>
                     <tr>
                       <td width="10%"></td>
                       <td width="90%"><%=getPatient_city%></td>
                     </tr>
                     <tr>
                       <td width="10%"></td>
                       <td width="90%"><%=getPatient_province%></td>
                     </tr>
                     <tr>
                       <td width="10%"><img src="/public/phone.png"/></td>
                       <td width="90%"><%= getPatient_contact%></td>
                     </tr>
                 </tbody>
    
          </table>
                  
                  <ul class="sideNav">
                    <li class="sidenav"><a href="/patient/<%= getPatient_hcard%>/profile">Patient Profile</a></li>
                    <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/billing">Billing Information</a></li>
                    <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/immunization">Immunization Status</a></li>
                    <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/prescription">Prescriptions</a></li>
                    <li class="sideNav"><a href="/patient/<%= getPatient_hcard%>/labresult">Laboratory Results</a></li>
                   <li class="sidenav"><a href="/patient/<%= getPatient_hcard%>/radiology">Radiology</a></li>
                        <li class="selected">Allergies</li>
                      </ul>
                      
    </div>
    <div id="notes">
        <h1>Patient Allergy</h1>
        <table class="main-table table table-bordered">
                <thead>
                  <tr align="center" bgcolor="#add8e6">
                    <th>Allergy Name</th>
                    <th>Medication</th>
                    <th>Result</th>     
                  </tr>
                </thead>
      
                <tbody>
                        <label>No Allergy Test / Result for this patient</label><br/>
                        <a href="/patient/<%= getPatient_hcard%>/AllergyAdd">Click Here to Add Allergy Test / Result</a>
                 
                </tbody>
              </table>
</div>
   
<% } %>

        
<%- include('../partials/footer'); -%>