<%- include('../partials/header'); -%>


<div class="container form-title">
    <h1>Delete Patient Prescription Record</h1>
</div>

<% result.forEach((patient, index) => { %>
<div class="container card bg-light" style="width: 40rem;">
    <form action="/patient/RadioDelete" method="POST">
        <div class="form-group">
          <b> <label>Exam Type</label></b>
        </div>
        <div class="form-group">
            <label><%=patient.exam_type%></label><br/>
        </div>
        <div class="form-group">
        <b>  <label>Date Completed</label></b><br/>
            <label><%=patient.date_completed%></label>
        </div>
        <div class="form-group">
        <b>  <label>Result</label></b><br/>
            <label><%=patient.result%></label>
        </div>
        <button type="submit" class="btn btn-primary">Are You Sure You Want to Delete?</button>
    </form>
</div>
<% }) %>

<%- include('../partials/footer'); -%>